/* header */
#home-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 998;
  }
  /* nav */
  #home-header nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    height: 60px;
    margin: 0 auto;
  }
  #home-header nav .home-nav-inner {
    display: flex;
    align-items: center;
  }
  /* logo */
  #home-header .home-nav-inner h1 {
    margin: 0 10px 0 0;
    font-size: 30px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    color: var(--main-color);
  }
  /* menu */
  #home-header .home-menu {
    display: flex;
  }
  #home-header .home-menu li {
    padding: 20px;
    cursor: pointer;
  }
  #home-header .home-menu li a {
    display: block;
  }
  /* icon */
  #home-header .nav-right {
    display: flex;
    align-items: center;
  }
  #home-header .nav-right a {
    display: block;
    text-align: center;
    color: #000;
  }
  #home-header .nav-right button {
    margin: 0 0 0 10px;
    border-radius: 50%;
    background-color: #ccc;
    color: #000;
  }
  #home-header .nav-right i {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
  }
  