.search-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: 80vh;
  background-color: #fff;
  left: calc(50% - 50vw);
  top: 60px;
  /* transform: translate(-50%, -50%); */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  overflow: hidden;
  border: none;
}

.search-modal iframe {
  width: 105%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  border: none;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 110vw; /* Full width (cover the whole page) */
  height: 100vh; /* Full height (cover the whole page) */
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#ffffff96; 
  z-index: 999; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.dark #overlay{
  background-color:#050505a1;
}