/* :root */
:root {
  --main-color: #ff0558;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

/* header */
#home-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 998;
}
#home-header nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  height: 60px;
  margin: 0 auto;
}
#home-header .home-hamburger {
  position: relative;
  width: 30px;
  height: 23px;
}
/* menu icon */
#home-header .home-hamburger span {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 20px;
  background-color: #000;
  transition: all 0.1s ease;
}
#home-header .home-hamburger span:nth-of-type(1) {
  top: 0;
}
#home-header .home-hamburger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}
#home-header .home-hamburger span:nth-of-type(3) {
  top: auto;
  bottom: 0;
}
/* logo */
#home-header h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--main-color);
}
#home-header .nav-right {
  display: flex;
  align-items: center;
}
/* search button */
#home-header .nav-right button {
  width: 30px;
  height: 30px;
  color: #000;
}
#home-header .nav-right button i {
  font-size: 22px;
}
#home-header .nav-right button:nth-of-type(2) {
  margin: 0 0 0 10px;
  background-color: #d9d9d9;
  border-radius: 50%;
}

/* home-container */
/* main */
#home-main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#home-main .home-main-inner {
  width: 100%;
  height: 100%;
  background: url("./assets/img/home-main-img-3.jpeg") center center no-repeat;
  background-size: cover;
}
#home-main .home-main-inner::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#home-main .home-main-inner dl {
  position: absolute;
  left: 7.5%;
  top: 60%;
  transform: translateY(-60%);
  padding: 20px;
  box-sizing: border-box;
  font-weight: bold;
  z-index: 1;
  color: #fff;
}
#home-main .home-main-inner dl dt {
  font-size: 45px;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
}
#home-main .home-main-inner dl dt h2 {
  display: inline-block;
  font-size: 70px;
  color: var(--main-color);
}
#home-main .home-main-inner dl dd {
  margin: 20px 0 0 0;
  font-size: 30px;
}

/* section area */
/* section1 - top10 */
#top-rate-movie-section {
  max-width: 1240px;
  height: 100vh;
  margin: 0 auto;
  padding: 100px 0;
  box-sizing: border-box;
}

#top-rate-movie-section h2,
#main-movie-section h2 {
  margin: 0 0 50px 0;
  font-size: 35px;
}
/* top10 list */
#top-rate-movies{
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  scrollbar-width: none;
  cursor: grab;
}
#top-rate-movies li{
  width: 300px;
  border-radius: 20px;
}
#top-rate-movies li a {
  display: block;
  width: 100% ;
  height: 100% ;
}

/* section2 */
#home-section-2 {
}
#movie-board {
  flex-wrap: wrap;
}
#movie-board > li {
  margin: 0 0 2rem 0;
  overflow: hidden;
}
#movie-board > li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* section2 - movie */
#main-movie-section {
  max-width: 1240px;
  margin: 0 auto;
  padding: 100px 0;
  box-sizing: border-box;
}
#main-movie-board {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#main-movie-board  li{
  width: 300px;
  margin: 0 0 15px 0;
  overflow: hidden;
  border-radius: 20px;
}

#main-movie-board  li a {
  display: block;
  width: 100% ;
  height: 100% ;
}
#main-movie-board  li a img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* aside */
#home-aside {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
#home-aside > button {
  display: block;
  width: 50px;
  height: 50px;
  margin: 10px 0;
  border-radius: 50%;
  background-color: lightgrey;
}
#home-aside > button > a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 50px;
  transition: all 0.3s ease-in;
  color: #000;
}

body.dark {
  background: #292c35;
}

body.dark p {
  color: #fff;
}

.ball {
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  width: 22px;
  height: 22px;
  /* transition : 속성을 서서히 변화시킴(일정시간에 걸쳐 일어나도록) */
  /* transform을 0.2초간 끝이 느려지도록 */
  transition: transform 0.2s ease-out;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

/* 투명하게 만들고 label 안에 위치시킴 */
.checkbox {
  opacity: 0;
  position: absolute;
}

/* label(checkbox)이 클릭되면 공의 모션 */
/* + 연산자 : 선택자1 바로 다음에 오는 선택자 2를 선택 */
.checkbox:checked + .label_DarkMode .ball {
  transform: translateX(24px);
}

.label_DarkMode {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  width: 50px;
  height: 26px;
  background-color: #111;
  border-radius: 50px;
  /* width와 height만 바꿔주면 아이콘이 같이 안커짐 */
  transform: scale(1.5);
}
