/* aside */
#home-aside {
    position: fixed;
    right: 25px;
    bottom: 25px;
  }
  #home-aside > button {
    display: block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: var(--main-color);
    box-shadow: 0 0 2px 0 #00000061;
    transition: 0.2s ease-in-out;
  }
  #home-aside > button:hover {
    background-color: #fff;
  }
  #home-aside > button > a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 55px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease-in;
    color: #fff;
  }
  #home-aside > button:hover a {
    color: var(--main-color);
  }

 

  /* mobile */
@media (max-width: 590px) {
 /* aside */
 #home-aside {
    right: 20px;
    bottom: 20px;
  }
  #home-aside > button {
    width: 45px;
    height: 45px;
  }
  #home-aside > button > a {
    line-height: 45px;
    font-size: 15px;
  }
}

/* 320px */
@media (max-width: 320px) {
     /* aside */
 #home-aside {
    right: 15px;
    bottom: 15px;
  }
  #home-aside > button {
    width: 40px;
    height: 40px;
  }
  #home-aside > button > a {
    line-height: 40px;
    font-size: 12px;
  }
}